<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Edit Profile | LinkedIn</title>
<style type="text/css">
.search_font {
	color: white;
	size: "20px";
	font-family: cursive;
}

body {
	font-family: Arial, sans-serif
}
</style>
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
</head>


<body>
	<div class="form-group" ng-app="myProfile" ng-controller="profileController">
		<form>

			<table width="100%" cellspacing="0"
				style="background-image: url('../Images/searchBackground.PNG')">
				<tr height="50">
					<td width="200" align="right"><img
						src="../Images/inToolbar.PNG" width="50" height="50"
						align="middle"></td>
					<td><table>
							<tr>
								<td width="300px"></td>
								<td><span class="search_font">Search: </span> <span
									style="padding-left: 10px;"><input type="text"
										style="width: 300px; height: 40px" name="dynamicSearch"
										placeholder="Search for Connections"></span></td>
								<td width="50px;"><span style="padding-left: 10px"><button
											class="btn btn-primary" ng-click="searchUser(user.emailId)">
											<span class="glyphicon glyphicon-search"></span> 
										</button></span></td>
							</tr>
						</table></td>
					<td><span class="search_font">Signout</span></td>
				</tr>
			</table>
			<br>

			<div align="center">
				<table border="0" width="70%">
					<tr class="container-fluid">
						<td>Photo</td>
						<td>
							<table>

								<tr class="container-fluid">
									<td>{{firstName}}</td>
								</tr>
								<tr class="container-fluid">
									<td>{{lastName}}</td>
								</tr>
								<tr class="container-fluid">
									<td>{{university}}</td>
								</tr>
								<tr class="container-fluid">
									<td>{{location}}</td>
								</tr>
								<tr class="container-fluid">
									<td>{{contact}}</td>
								</tr>

							</table>
						</td>
					</tr>
				</table>
				<br> <br>
				<table border="0" width="70%">
					<tr>
						<td></>Summary</td>
					</tr>
					<tr style="height: 260px" valign="top">
						<td><textarea style="height: 250px; width: 100%"
								class="form-control" ng-model="summary"></textarea></td>
					</tr>
				</table>
				<br> <br>
				<table border="0" width="70%">
					<tr>
						<td></>Experience</td>
					</tr>
					<tr style="height: 260px" valign="top">
						<td><textarea style="height: 250px; width: 100%"
								class="form-control" ng-model="experience"></textarea></td>
					</tr>
				</table>
				<table border="0" width="70%">
					<tr>
						<td></>Education</td>
					</tr>
					<tr style="height: 260px" valign="top">
						<td><textarea style="height: 250px; width: 100%"
								class="form-control" ng-model="education"></textarea></td>
					</tr>
				</table>
				<br> <br>
				<table border="0" width="70%">
					<tr>
						<td></>Projects</td>
					</tr>
					<tr style="height: 260px" valign="top">
						<td><textarea style="height: 250px; width: 100%"
								class="form-control" ng-model="projects"></textarea></td>
					</tr>
				</table>
				<br> <br>
				<table border="0" width="70%">
					<tr>
						<td></>Connections<br></td>
					</tr>
					<tr>
						<td>
							<table border="0" width="60%">
								<tr class="container-fluid">
									<td>connection1</td>
									<td>connection6</td>
								</tr>
								<tr class="container-fluid">
									<td>connection2</td>
									<td>connection7</td>
								</tr>
								<tr class="container-fluid">
									<td>connection3</td>
									<td>connection8</td>
								</tr>
								<tr class="container-fluid">
									<td>connection4</td>
									<td>connection9</td>
								</tr>
								<tr class="container-fluid">
									<td>connection5</td>
									<td>connection10</td>
								</tr>

							</table>

						</td>
					</tr>
				</table>
			</div>
			<br> <br>
			<div align="center">
				<button class="btn btn-primary" type="submit"
					ng-click="updateDetails()" style="">Update  </button>
		</form>
	</div>
	<br>
	<br>
	<br>
	<br>
	
	
	<script>
angular.module('myProfile', []).controller('profileController', ['$scope', function($scope) {
    $scope.firstName = "John",
    $scope.lastName = "Doe"
    $scope.university="";
    $scope.location="";
    $scope.contact="";
    $scope.summary="";
    $scope.experience = "";
    $scope.education = "";
    $scope.projects = "";
    /*$scope.toggle = function() {
        $scope.myVar = !$scope.myVar;
    };*/
}]);
</script>


</body>

</html>